@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-custom-blue {
    background-color: #003366;
}



.bg-custom-gray{
    background-color: #757575;
}

.bg-custom-light-gray{
    background-color: #E0E0E0;
}

.text-custom-blue{
    color: #003366;
}

.hover-bg-custom-gray:hover{
    background-color: #757575;
}

.hover-bg-custom-light-gray:hover{
    background-color: #E0E0E0;
}

.text-custom-gray{
    color: #757575;
}

/* Estilo base del botón */
.nav-button {
    background-color: white;
    color: #003366;
    padding: 0.625rem 1.5rem;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    font-weight: 600;
    border: 2px solid #003366;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Efecto hover */
.nav-button:hover {
    background-color: #003366;
    color: white;
}

.menu-button{
    background-color: #003366;
    color: #ffffff;
    padding: 0.625rem 1.5rem;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    font-weight: 600;
    border: 2px solid #003366;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menu-button:hover{
    background-color: #ffffff;
    color: #003366;
}

.banner-image {
    width: 100%;
    height: 20rem; /* equivalente a h-48 de Tailwind */
    object-fit: cover;
}

/* Estilos para el modal */
#modal-toggle:checked + #modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#modal-editar:checked + #modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    width: 90%;
    max-width: 500px;
    border-radius: 0.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

/* Estilos para el select de máquinas */
.machine-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
}

/* Estilo hover para opciones del select */
.machine-select option:hover {
    background-color: #003366;
    color: white;
}

/* Agregar estilos para el diseño responsive */
@media (max-width: 768px) {
    aside {
        width: 100%; /* Ocupa el 100% en pantallas pequeñas */
    }
    .table-responsive {
        overflow-x: auto; /* Permitir desplazamiento horizontal en la tabla */
    }
}

/* Estilo base del botón personalizado */
.nav-button-custom {
    background-color: #003366; /* Fondo azul oscuro */
    color: white; /* Letras blancas */
    padding: 0.25rem 0.75rem; /* Reducido para hacer el botón más pequeño */
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    font-weight: 600;
    border: 2px solid #003366; /* Borde azul oscuro */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.75rem; /* Tamaño de fuente reducido */
    max-width: 150px; /* Establecer un ancho máximo */
    width: 100%; /* O puedes usar un ancho fijo como 150px */
}

/* Efecto hover para el botón personalizado */
.nav-button-custom:hover {
    background-color: white; /* Fondo blanco */
    color: #003366; /* Letras azules */
}

/* Estilo base del botón de cerrar sesión */
.nav-button-logout {
    background-color: white; /* Fondo blanco */
    color: red; /* Letras rojas */
    padding: 0.25rem 0.75rem; /* Reducido para hacer el botón más pequeño */
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    font-weight: 600;
    border: 2px solid red; /* Borde rojo */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.75rem; /* Tamaño de fuente reducido */
    max-width: 150px; /* Ancho máximo */
    width: 100%; /* O puedes usar un ancho fijo como 150px */
}

/* Efecto hover para el botón de cerrar sesión */
.nav-button-logout:hover {
    background-color: red; /* Fondo rojo */
    color: white; /* Letras blancas */
}

/* Asegúrate de que el contenedor principal tenga un mínimo de altura */
html, body {
    height: 100%;
    margin: 0;
}

.min-h-screen {
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

.flex-grow {
    flex-grow: 1; /* Permite que el contenido principal crezca y empuje el footer hacia abajo */
}

/* Estilo base del botón personalizado invertido */
.nav-button-invertido {
    background-color: #003366; /* Fondo azul oscuro */
    color: white; /* Letras blancas */
    padding: 0.625rem 1.5rem;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    font-weight: 600;
    border: 2px solid #003366; /* Borde azul oscuro */
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Efecto hover para el botón personalizado invertido */
.nav-button-invertido:hover {
    background-color: white; /* Fondo blanco */
    color: #003366; /* Letras azules */
}


