@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-custom-blue{
    background-color: #003366;
}



.bg-custom-gray{
    background-color: #757575;
}

.bg-custom-light-gray{
    background-color: #E0E0E0;
}

.text-custom-blue{
    color: #003366;
}

.hover-bg-custom-gray:hover{
    background-color: #757575;
}

.hover-bg-custom-light-gray:hover{
    background-color: #E0E0E0;
}

.text-custom-gray{
    color: #757575;
}

/* Estilo base del botón */
.nav-button {
    background-color: white;
    color: #003366;
    padding: 0.625rem 1.5rem;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    font-weight: 600;
    border: 2px solid #003366;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Efecto hover */
.nav-button:hover {
    background-color: #003366;
    color: white;
}

.banner-image {
    width: 100%;
    height: 20rem; /* equivalente a h-48 de Tailwind */
    object-fit: cover;
}

